<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zerobase.shopreservation.common.mapper.ReservationMapper">

    <resultMap id="ReservationOutputDtoMap" type="com.zerobase.shopreservation.common.dto.ReservationOutputDto">
        <result column="id" property="id"/>
        <result column="approval_state" property="approvalState"/>
        <result column="check_in_at" property="checkInAt"/>
        <result column="phone" property="phone"/>
        <result column="schedule" property="schedule"/>
    </resultMap>

    <sql id="selectListWhere">
        and r.shop_id = #{shopId}
        <if test="phone != null">
            and r.phone like concat('%', #{phone}, '%')
        </if>
        <if test="customerId != null">
            and r.member_id = #{customerId}
        </if>
        <if test="date != null">
            and date(r.schedule) = #{date}
        </if>
    </sql>

    <select id="selectListCount" resultType="long">
        select count(*)
        from reservation as r
        where 1 = 1
        <include refid="selectListWhere"/>
    </select>

    <select id="selectList" resultMap="ReservationOutputDtoMap">
        select r.id,
        r.approval_state,
        r.check_in_at,
        r.schedule,
        r.phone,
        m.name as member_name
        from reservation as r
        join member as m
        on r.member_id = m.id
        where 1 = 1
        <include refid="selectListWhere"/>
        <if test="sortBy.name == 'RECENT'">
            order by r.schedule desc
        </if>
        limit #{pageStart}, #{pageSize}
    </select>
</mapper>