<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zerobase.shopreservation.customer.mapper.ReviewMapper">

    <select id="selectListInfo" resultType="com.zerobase.shopreservation.common.dto.ReviewListInfoDto">
        select COUNT(*) as            review_count
             , COALESCE(AVG(rate), 0) review_average
        from review
        where shop_id = #{shopId}
    </select>

    <select id="selectList" resultType="com.zerobase.shopreservation.common.dto.ReviewOutputDto">
        select id, rate, contents, reservation_id
        from
        review
        where
        shop_id = #{shopId}
        order by
        <if test="sortBy.name == 'RATING'">
            rate asc
        </if>
        <if test="sortBy.name == 'RECENT'">
            rate asc
        </if>
        limit
        #{pageStart}, #{pageSize}
    </select>
</mapper>